.eventItem {
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0px 4px 30px rgba(0, 2, 103, 0.15);
  position: relative;
  border: none;
  max-height: 400px;
  max-width: 100%;
}

.eventItem .content .deskripsi {
  font-family: "Inter", sans-serif;
  text-align: justify;
}

.eventList .row {
  width: 1240px;
  max-width: 100%;
  margin: auto;
}

.tag {
  background-color: #082240;
  color: #fff;
  width: 160px;
  height: 48px;
  padding: 12px;
  margin-top: 14px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;

}

.eventItem .content {
  padding: 30px 75px 30px 75px;
  
}

.date {
  font-family: "mulish", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #f49c45;
}

.judul-artikel {
  font-weight: 700;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  padding: 16px 0 16px 0;
  margin: 0;
  line-height: 35px;
}

.eventItem .learn-more-artikel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 241px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #f49c45;
  margin: 10px 0 10px 0;
  text-decoration: none;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.6px;
}


.eventItem img {
  max-width: 100%;
  max-height: 50%;

  width: 525px;
  padding: 0;
  border-radius: 0 24px 24px 0;
  object-fit: cover;
}

.card-deskripsi-artikel {
  text-align: justify;
  max-height: 50px;
  overflow: hidden;
}

@media screen and (max-width: 360px) {

  .eventItem{
    position: relative;
    
    
  }

  .row {
    max-width: 300px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .judul-artikel {
    font-size: 6px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 15px;
  
  }

  .date-artikel {
    font-size: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 15px;
   
  }
  .card-deskripsi-artikel{
    max-height: 20px;
    font-size: 6px;
    margin-top: 5px;
    margin-bottom: 0px;
    
    
  }

  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 10px;
    padding: 7px;
    font-size: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0;
  }
  
  

  .eventItem .learn-more-artikel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 10px;
    border-radius: 8px;
    border: none;
    background-color: #f49c45;
    margin: 10px 0 10px 0;
    text-decoration: none;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 3px;
    line-height: 19.6px;
    margin-top: 7px;
  }

  .imageEvent{
    max-height: 100px;
  }
}


