.artikelitem {
  height: 100%;
  display: flex;
  flex-direction: column !important;
  margin-bottom: 0px !important;
  padding-bottom: 20px;
}

.artikelitem .btn:hover {
  background-color: rgb(214, 130, 45) !important;
}

.artikelitem .card-gradient {
  position: relative;
  height: 100% !important;
  width: 100% !important;
}

.kategori-ctn {
  width: 100%;
  height: 48px;
}

.artikelitem .overlay-gradient {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  background: linear-gradient(to top, rgba(0, 2, 103, 0.8) -22.83%, rgba(0, 2, 103, 0)63.06%) !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

.artikelitem .listartikel {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center !important;
}

.artikelitem .card {
  border: none !important;
  display: flex;
  flex-direction: row-reverse;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 30px rgba(0, 2, 103, 0.15);
  color: black;
  border-radius: 16px !important;
  -webkit-border-radius: 16px !important;
  -moz-border-radius: 16px !important;
  -ms-border-radius: 16px !important;
  -o-border-radius: 16px !important;
  align-items: center;
  overflow: hidden;
  width: 100% !important;
  height: 361px !important;
  position: relative;
}

.artikelitem .card-image {
  width: 85% !important;
  height: 100% !important;
}

.artikelitem .card-img {
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

.artikelitem .card-body {
  display: flex;
  flex-direction: column;
  margin: 0 105px 0px 50px;
  padding: 0 !important;
  width: 100% !important;
  gap: 12px;
}

.kategori-tag {
  background-color: #082240;
  color: #fff;
  width: 160px;
  height: 48px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventItem .content {
  padding: 30px 75px 30px 75px;

}

.artikelitem .card-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px;
  max-height: 29px !important;
  overflow-y: hidden;
  margin-top: 20px;
}

.artikelitem .content-date {
  font-size: 20px;
  font-weight: 400;
  color: rgba(244, 156, 69, 1);
  margin-bottom: 0px;
}

.artikelitem .content-description {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 16px !important;
  width: 100%;
  max-height: 72px !important;
  overflow: hidden !important;
  margin-bottom: 0px;
}

.artikelitem .btn-card {
  max-height: 48px !important;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

.artikelitem .btn-card::after {
  display: inline-flex !important;
  content: "" !important;
  background-repeat: no-repeat !important;
  z-index: 2 !important;
  background-size: contain !important;
  width: 16px !important;
  margin-left: 10px;
  height: 16px !important;
  background-image: url(../../assets/img/arrow.svg) !important;
}

@media screen and (max-width: 1400px) {

  .kategori-ctn {
    height: 30px;
  }

  .kategori-tag {
    width: 130px;
    height: 40px;
    font-size: 10px;
    border-radius: 8px;
  }

  .artikelitem .card {
    width: 100% !important;
  }

  .artikelitem .card-body {
    gap: 12px;
    margin: 0 72px 0px 54px;
  }

  .artikelitem .card-title {
    font-size: 24px;
    max-height: 70px !important;
  }

  .artikelitem .content-date {
    font-size: 15px !important;
  }

  .artikelitem .content-description {
    font-size: 14px !important;
    max-height: 68px !important;
  }

  .artikelitem .btn-card {
    width: 50%;
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1200px) {
  .artikelitem .card {
    height: 250px !important;
  }

  .artikelitem .card-title {
    font-size: 20px;
    max-height: 25px !important;
    margin-top: 5px;
  }

  .artikelitem .content-date {
    font-size: 12px !important;
  }

  .kategori-tag {
    border-radius: 8px;
  }

  .artikelitem .content-description {
    font-size: 12px !important;
    max-height: 55px !important;
  }

  .artikelitem .card-body {
    gap: 7px;
  }

  .artikelitem .btn-card {
    font-size: 12px !important;
    max-height: 38px !important;
  }

  .kategori-tag {
    width: 140px;
    height: 30px;
    padding: 6px;
    font-size: 10px;
    top: 3%;
    border-radius: 8px;
  }
}

@media screen and (max-width: 992px) {
  .artikelitem .card {
    height: 200px !important;
  }

  .artikelitem .card-body {
    margin: 0 50px 0px 44px;
    padding: 0 !important;
    width: 100% !important;
  }

  .eventItem {
    position: relative;


  }

  .artikelitem .btn-card {
    font-size: 11px !important;
    max-height: 32px !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
  }

  .judul-artikel {
    font-size: 6px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 15px;

  }

  .date-artikel {
    font-size: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 15px;

  }

  .card-deskripsi-artikel {
    max-height: 20px;
    font-size: 6px;
    margin-top: 5px;
    margin-bottom: 0px;


  }

  .kategori-ctn {
    width: 100%;
    height: 23px;
    justify-content: center;
    align-items: center;
  }

  .artikelitem .card-image {
    width: 100% !important;
    height: 100% !important;
  }

  .artikelitem .card-img {
    height: 100% !important;
    object-fit: cover !important;
    border-radius: 12px 12px 0px 0px !important;
    -webkit-border-radius: 12px 12px 0px 0px !important;
    -moz-border-radius: 12px 12px 0px 0px !important;
    -ms-border-radius: 12px 12px 0px 0px !important;
    -o-border-radius: 12px 12px 0px 0px !important;
  }



  .eventItem .learn-more-artikel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 10px;
    border-radius: 8px;
    border: none;
    background-color: #f49c45;
    margin: 10px 0 10px 0;
    text-decoration: none;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 3px;
    line-height: 19.6px;
    margin-top: 7px;
  }

  .imageEvent {
    max-height: 100px;
  }
}