@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Mulish:wght@500&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');

.footer-himsi {
    background-color: #082240;
    justify-content: center;
    margin: 0;
}

.grid-container {
    color: #fff;
    background-color: #082240;
    display: grid;
    grid-template-columns: 1fr  1fr  1fr ;
    grid-template-areas: 
        "subscribe subscribe contact" 
        "alamat informasi tautan";
    grid-gap: 20px;
    padding: 50px 180px;
    margin-top: 100px;
}

.grid-container > div {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 20px;
    padding-left: 150px;
}

.footer-subscribe {
    grid-area: subscribe ;
}

.footer-contact {
    grid-area: contact ;
}

.footer-alamat {
    grid-area: alamat;
}

.footer-informasi {
    grid-area: informasi;
}

.footer-tautan {
    grid-area: tautan;
}

.item {
    color: #fff;
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: 700;
}

.footer-subscribe p {
    padding-top: 15px;
    font-size: 15px;
    font-family: "Mulish";
    font-weight: 400;
    line-height: 20px;
}

.footer-input {
    width: 40%;
    padding: 15px 7px ;
    border-radius: 10px;
    margin-right: 5px;
    font-size: 15px;
    font-family: "Mulish";
}

.footer-btn {
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #F49C45;
    color: #fff;
    font-size: 15px;
}

.contact-logo {
    padding-top: 15px;
    width: 25%;
    height: auto;
}

.footer-alamat p {
    padding-top: 10px;
    font-size: 15px;
    font-family: "Mulish";
    font-weight: 400;
}
.pages {
    list-style: none;
    padding: 8px 0px;
}

.pages li {
    padding-top: 10px;
    font-size: 15px;
    font-family: "Mulish";
    font-weight: 400;
}


.name-socialmedia {
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0;
}

.icon-sosmed {
    color: #fff;
    font-size: 50px;
    padding-top: 25px;
}

.footer-copyright {
    color: #fff;
    padding-top: 25px;
    padding-bottom: 50px;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 400;
    letter-spacing: 0.05em;
}


/*------------ responsive ------------- */

@media (max-width: 1200px) {

    .footer-himsi {
        justify-content: left;
        margin: 0;
    }

    .grid-container  {
    padding: 10px;
    grid-template-columns: 1fr ;
    grid-template-areas: 
    "subscribe subscribe"
    "contact contact"
    "alamat alamat"
    "tautan tautan"
    "informasi informasi";
    }

    .grid-container > div {
    padding-left: 10px;
    justify-content: left;
    text-align: left;
    }

    .footer-subscribe {
    grid-area: subscribe ;
    }

    .footer-contact {
    grid-area: contact ;
    }

    .footer-alamat {
    grid-area: alamat;
    }

    .footer-informasi {
    grid-area: informasi;
    }

    .footer-tautan {
    grid-area: tautan;
    }
    
    .item {
    font-size: 20px;
    }

    .contact-logo {
        width: 15%;
        height: auto;
    }

    .footer-btn {
        padding: 10px 20px;
    }
    
    .footer-input {
    width: 50%;
    padding: 10px 7px ;
    }

    .name-socialmedia {
        font-size: 20px;
    }

    .icon-sosmed {
        font-size: 25px;
    }

    .footer-copyright {
        font-size: 13px;
    }
}

/*----------buat hape ---------- */

@media (max-width: 458px) {

    .footer-himsi {
        justify-content: left;
    }

    .grid-container  {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "subscribe "
        "contact "
        "alamat"
        "informasi  "
        "tautan" ;
        padding: 20px;
        margin-bottom: 15px;
    }

    .grid-container > div {
        text-align: left;
        padding-top: 15px;
        }
    
        .footer-subscribe {
            grid-area: subscribe ;
            }
        
        .footer-contact {
            grid-area: contact ;
        }
        
            .footer-alamat {
            grid-area: alamat;
            }
        
            .footer-informasi {
            grid-area: informasi;
            }
        
            .footer-tautan {
            grid-area: tautan;
            }

            .icon-sosmed {
                font-size: 25px;
            }
        
            .footer-copyright {
                font-size: 10px;
            }
}