@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Mulish:wght@500&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');

.footer-himsi {
    background-color: #082240;
    min-height: 150px;
}

.grid-container {
    padding: 40px 50px 0 50px;
    color: #fff;
    background-color: #082240;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    grid-template-areas:
        "subscribe subscribe contact"
        "alamat informasi tautan"
        "socmed socmed socmed";
}

.grid-container>div {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    padding: 50px;
}

.footer-subscribe {
    grid-area: subscribe;
}

.footer-contact {
    grid-area: contact;
}

.footer-alamat {
    grid-area: alamat;
}

.footer-informasi {
    grid-area: informasi;
}

.footer-tautan {
    grid-area: tautan;
}

.icon-socialmedia {
    grid-area: socmed;
    padding: 50px 0;
    margin: 0;
}

.item {
    color: #fff;
    font-size: 25px;
    font-family: "Montserrat";
    font-weight: 700;
}

.footer-subscribe p {
    padding-top: 15px;
    font-size: 15px;
    font-family: "Mulish";
    font-weight: 400;
    line-height: 20px;
}

.input-subscribe {
    width: 100%;
}

.footer-input {
    width: 50% !important;
    padding: 15px 7px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-family: "Mulish";
    border: none;
}

.footer-input:focus-visible {
    outline: none;
}

.footer-btn {
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #F49C45;
    color: #fff;
    font-size: 15px;
    border: none;
}

.contact-logo {
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact-logo a {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
}

.footer-alamat p {
    padding-top: 10px;
    font-size: 15px;
    font-family: "Mulish";
    font-weight: 400;
}

.pages {
    list-style: none;
    padding: 0px;
}

.pages li {
    padding-top: 10px;
    font-size: 15px;
    font-family: "Mulish";
    font-weight: 400;
}

.name-socialmedia {
    text-align: center;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
}

.icon-sosmed {
    color: #fff;
    font-size: 50px;
    padding-top: 25px;
}

.footer-copyright {
    color: #fff;
    padding-top: 25px;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat";
    font-weight: 400;
    letter-spacing: 0.05em;
}


/*------------ responsive ------------- */

@media (max-width: 1200px) {

    .footer-himsi {
        justify-content: left;
        margin: 0;
    }

    .grid-container {
        padding: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "subscribe subscribe"
            "alamat contact"
            "informasi tautan"
            "socmed socmed";
    }

    .footer-subscribe,
    .footer-contact,
    .footer-alamat,
    .footer-informasi,
    .footer-tautan {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center !important;
    }

    .contact-logo a {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start !important;
    }

    .grid-container>div {
        justify-content: left;
        text-align: left;
    }

    .item {
        font-size: 20px;
    }

    .footer-btn {
        padding: 10px 20px;
    }

    .footer-input {
        width: 50%;
        padding: 10px 7px;
    }

    .name-socialmedia {
        font-size: 20px;
    }

    .icon-sosmed {
        font-size: 25px;
    }

    .footer-copyright {
        font-size: 13px;
    }
}

/*----------buat hape ---------- */

@media (max-width: 700px) {

    .footer-himsi {
        justify-content: left;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "subscribe "
            "contact"
            "alamat"
            "informasi"
            "tautan"
            "socmed";
        padding: 20px;
    }

    .grid-container>div {
        text-align: left;
        padding-top: 15px;
    }

    .icon-sosmed {
        font-size: 25px;
    }

    .footer-copyright {
        font-size: 10px;
    }
}