/* gradient Color Blue */
.hero {
    padding-top: 6%;
}

.hero .gradient {
    position: relative !important;
    height: 0px !important;
    height: 92vh !important;
}

.hero .gradient .gradient-overlay {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background: linear-gradient(to top,
            #082240 17.63%,
            rgba(8, 34, 64, 0.31) 83.66%,
            rgba(8, 34, 64, 0) 98.51%);
}

/* Hero Information */
.hero img {
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
}

.hero .judul {
    font-size: 80px !important;
    margin-bottom: 80px !important;
    color: white !important;
    font-weight: 700 !important;
}

.hero .btn-hero {
    margin-bottom: 50px !important;
}

.hero .btn-hero:hover {
    background-color: rgb(214, 130, 45) !important;
}

/* Indicator  */
.hero .carousel {
    display: flex !important;
    flex-direction: column-reverse !important;
}

.hero .carousel-indicators {
    margin-bottom: 39px !important;
    position: relative !important;
    top: -80px !important;
    margin-bottom: -30px !important;
}

.hero .carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    background-color: white !important;
    opacity: 100 !important;
}

.hero button.active {
    top: 2px !important;
    position: relative !important;
    width: 60px !important;
    height: 5px !important;
    justify-items: auto !important;
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;
}

.hero button.active::after {
    content: "";
    position: absolute !important;
    top: -2px !important;
    left: 0px !important;
    display: inline-flex !important;
    width: 60px !important;
    height: 10px !important;
    background-color: rgba(244, 156, 69, 1) !important;
    box-sizing: content-box !important;
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;
}

/* Carousel Control */
.hero .carousel-control-next,
.hero .carousel-control-prev {
    opacity: 0.5 !important;
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
    /* background-color: rgba(255, 255, 255, 0.2); */
    padding: 20px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

/* Responsive  */

@media screen and (max-width: 1400px) {
    .hero .judul {
        font-size: 60px !important;
    }
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
    .hero .judul {
        font-size: 40px !important;
    }

    .hero .btn {
        height: 45px;
        width: 130px;
        font-size: 14px !important;
    }
}