.lastestEvents {
    height: 100%;
    display: flex;
    flex-direction: column !important;
    margin-bottom: 120px !important;
}


.lastestEvents .btn:hover {
    background-color: rgb(214, 130, 45) !important;
}

/* gradinet Color Blue */
.lastestEvents .gradient {
    position: relative;
    height: 100% !important;
    width: 100% !important;
}

.lastestEvents .gradient-overlay {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background: linear-gradient(to top, rgba(0, 2, 103, 0.8) -22.83%, rgba(0, 2, 103, 0)63.06%) !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

/*card */
.lastestEvents .list-event {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center !important;
}

.lastestEvents .card {
    border: none !important;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 30px rgba(0, 2, 103, 0.15);
    color: black;
    border-radius: 16px !important;
    -webkit-border-radius: 16px !important;
    -moz-border-radius: 16px !important;
    -ms-border-radius: 16px !important;
    -o-border-radius: 16px !important;
    align-items: center;
    overflow: hidden;
    width: 100% !important;
    height: 307px !important;
}

.lastestEvents .img-layout {
    width: 100% !important;
    height: 100% !important;
}

.lastestEvents .card-img {
    height: 100% !important;
    object-fit: cover !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

.lastestEvents .card-body {
    display: flex;
    flex-direction: column;
    margin: 0 105px 0px 85px;
    padding: 0 !important;
    width: 100% !important;
    gap: 16px;
}

.lastestEvents .h5 {
    font-family: 'Montserrat', sans-serif !important;
}

.lastestEvents .card-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0px;
    max-height: 80px !important;
    overflow-y: hidden;
}

.lastestEvents .date {
    font-size: 24px;
    font-weight: 400;
    color: rgba(244, 156, 69, 1);
    margin-bottom: 0px;
}

.lastestEvents .deskripsi {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px !important;
    width: 100%;
    max-height: 72px !important;
    overflow: hidden !important;
    margin-bottom: 0px;

}

.lastestEvents .btn-card {
    max-height: 48px !important;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}

.lastestEvents .btn-card::after {
    display: inline-flex !important;
    content: "" !important;
    background-repeat: no-repeat !important;
    z-index: 2 !important;
    background-size: contain !important;
    width: 16px !important;
    margin-left: 10px;
    height: 16px !important;
    background-image: url(../../assets/img/arrow.svg) !important;
}

/* responsive */
@media screen and (max-width: 1400px) {
    .lastestEvents .card {
        width: 100% !important;
    }

    .lastestEvents .card-body {
        gap: 12px;
        margin: 0 72px 0px 54px;
    }

    .lastestEvents .card-title {
        font-size: 28px;
        max-height: 70px !important;
    }

    .lastestEvents .date {
        font-size: 18px !important;
    }

    .lastestEvents .deskripsi {
        font-size: 14px !important;
        max-height: 68px !important;
    }

    .lastestEvents .btn-card {
        width: 50%;
        font-size: 14px !important;
    }
}

@media screen and (max-width: 1200px) {
    .lastestEvents .card {
        height: 250px !important;
    }

    .lastestEvents .card-title {
        font-size: 24px;
        max-height: 60px !important;
    }

    .lastestEvents .date {
        font-size: 14px;
    }

    .lastestEvents .deskripsi {
        font-size: 12px !important;
        max-height: 55px !important;
    }

    .lastestEvents .btn-card {
        font-size: 12px !important;
        max-height: 38px !important;
    }

}

@media screen and (max-width: 992px) {
    .lastestEvents .card {
        height: 200px !important;
    }

    .lastestEvents .card-body {
        margin: 0 50px 0px 44px;
        padding: 0 !important;
        width: 100% !important;
    }

    .lastestEvents .card-title {
        font-size: 20px;
        max-height: 50px !important;
    }

    .lastestEvents .date {
        font-size: 14px !important;
    }

    .lastestEvents .deskripsi {
        max-height: 35px !important;
        margin-bottom: 5px !important;
    }

    .lastestEvents .btn-card {
        font-size: 11px !important;
        max-height: 32px !important;
        border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -ms-border-radius: 5px !important;
        -o-border-radius: 5px !important;
    }

    .lastestEvents .btn-card::after {
        width: 12px !important;
        height: 12px !important;
    }

    .lastestEvents .card-body {
        gap: 5px !important;
    }
}

@media screen and (max-width: 767px) {
    .lastestEvents .card {
        height: 150px !important;
        gap: 5px !important;
    }

    .lastestEvents .card-body {
        margin: 0 30px 0px 30px;
        gap: 0px !important;
    }

    .lastestEvents .card-title {
        font-size: 14px;
        max-height: 35px !important;
    }

    .lastestEvents .date {
        font-size: 12px !important;
    }

    .lastestEvents .deskripsi {
        font-size: 10px !important;
        max-height: 30px !important;
        margin-bottom: 5px;
    }

    .lastestEvents .btn-card {
        font-size: 8px !important;
        max-height: 24px !important;
    }

    .lastestEvents .btn-card::after {
        width: 10px !important;
        height: 10px !important;
    }

}

@media screen and (max-width: 576px) {

    .lastestEvents .card-img {
        height: 100% !important;
        object-fit: cover !important;
        border-radius: 12px 12px 0px 0px !important;
        -webkit-border-radius: 12px 12px 0px 0px !important;
        -moz-border-radius: 12px 12px 0px 0px !important;
        -ms-border-radius: 12px 12px 0px 0px !important;
        -o-border-radius: 12px 12px 0px 0px !important;
    }

    .lastestEvents .gradient-overlay {
        border-radius: 12px 12px 0px 0px !important;
        -webkit-border-radius: 12px 12px 0px 0px !important;
        -moz-border-radius: 12px 12px 0px 0px !important;
        -ms-border-radius: 12px 12px 0px 0px !important;
        -o-border-radius: 12px 12px 0px 0px !important;
    }

    .lastestEvents .list-event {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lastestEvents .card {
        flex-direction: column;
        text-align: center;
        width: 70% !important;
        height: auto !important;
        gap: 0px !important;
    }

    .lastestEvents .card-body {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 20px 0px !important;
        width: 80% !important;
        gap: 10px !important;
    }

    .lastestEvents .card-title {
        font-size: 20px;
        max-height: 72px !important;

    }

    .lastestEvents .date {
        font-size: 16px !important;
    }

    .lastestEvents .deskripsi {
        font-size: 12px !important;
        min-height: 35px !important;
    }

    .lastestEvents .btn-card {
        font-size: 12px !important;
        max-height: 32px !important;
        width: 100% !important;
    }

    .lastestEvents .btn-card::after {
        width: 14px !important;
        height: 14px !important;
    }
}

@media screen and (max-width: 480px) {
    .lastestEvents .card {
        width: 80% !important;
    }

    .lastestEvents .card-body {
        gap: 8px !important;
    }

    .lastestEvents .card-title {
        font-size: 16px;
        max-height: 200px !important;
    }

    .lastestEvents .date {
        font-size: 14px !important;
    }

    .lastestEvents .btn-card {
        font-size: 10px !important;
        max-height: 30px !important;
        width: 110px !important;
    }
}

@media screen and (max-width: 374px) {
    .lastestEvents .card {
        width: 90% !important;
    }
}