@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

nav {
    position: fixed;
    z-index: 8 !important;
    background-color: white;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    padding-top: 20px;
    box-sizing: border-box;
    font-size: 15px;
    transition: .3s;
}

.nav-logo {
    width: 90px;
    height: auto;
    padding-bottom: 40px;
}


.nav-HIMSI {
    font-size: 35px;
    font-family: "Poppins";
    font-weight: 800;
    color: #082240;
    padding-top: 50px;
    margin-bottom: auto;
    margin-left: 15px;
}

.active-link {
    color: red;
}
.button-contact{
    display: flex;
    width: 165px;
    height: 51px;
    align-items: center;
    justify-content: center;
    background-color: #f49c45;
    color: #fff;
    border-radius: 12px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    transition: .3s;
}

.button-contact:hover{
    background-color: #fff;
    border: 2px solid #f49c45;
    color: #f49c45;
}

.nav-univ {
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 500;
    margin-left: 15px;
    color: #082240;
}

.navbar-items .nav-list {
    align-items: center;
    display: flex;
    gap: 30px;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 500;
}

.navbar-items .nav-list a {
    color: black !important;
}

.navbar-items a.active {
    color: #f49c45 !important;
    transition: all .3s;
    position: relative;
}

.navbar-items a.active::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f49c45;
    position: absolute;
    top: 30px;  
    animation: bar__animate .3s ease-in;
        
}

.nav-toggle, .nav-close{
    display: none;
}

@keyframes bar__animate {
    0% {
        width: 0;
       
    }

    100% {
        width: 100%;
    }
}

.expanded-arrow {
    width: 17px;
    transition: .3s;
}
.expanded-arrow-active{
    width: 17px;
    transition: .3s;
    transform: rotate(180deg);
    filter: invert(74%) sepia(26%) saturate(1390%) hue-rotate(330deg) brightness(98%) contrast(95%);
}

.profile-section-container {
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 4px 30px rgba(0, 2, 103, 0.15);
    border-radius: 8px;
    position: absolute;
    top: 100%;
    right: 29%;
    animation : profile .3s ease-in-out
}

@keyframes profile {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.profile-section-wrapper {
    padding: 10px 20px;
}
.list-profile {
    padding-left: 0 !important;
}
.list-profile li {
    list-style: none;
    padding: 5px 0;
}
.list-profile li a {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
}
/*-------------------------------- RESPONSIVE ------------------------- */
@media screen and (max-width: 1400px) {
    .navbar-items .nav-list{
        gap: 20px;
    }

    .expanded-arrow {
        width: 15px;
    }

    .expanded-arrow-active {
        width: 15px;
    }

    .profile-section-container {
        right: 35%;
    }



}

@media screen and (max-width: 1200px) {
    .nav-logo{
            width: 70px;
            padding-bottom: 40px;
    }

    .nav-HIMSI {
        font-size: 30px;
        padding-top: 50px;

    }

    .nav-univ {
        font-size: 14px;
    }

    .navbar-items .nav-list{
        gap: 20px;
        font-size: 14px;
    }
}

@media screen and (max-width: 992px){
    .nav-logo{
        width: 60px;
        padding-bottom: 35px;
    }

    .nav-HIMSI {
        font-size: 25px;
    }

    .navbar-items .nav-list{
        gap: 13px;
        font-size: 14px;
    }

    .nav-univ{
        font-size: 13px;
    }

    .button-contact {
        width: 110px;
        height: 40px;
        font-size: 13px;
    }

    .expanded-arrow {
        width: 14px;
    }

    .expanded-arrow-active {
        width: 14px;
    }

    .profile-section-container {
        right: 35.5%;
    }

    .list-profile li a {
        font-size: 13px;
    }

}

@media screen and (max-width: 768px) {
    nav {
        top: 0;
        border-radius: 0 0 1.5rem 1.5rem ;
    }

    .navbar-items {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 3rem 0;
        padding-left: 5rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
        border-radius: 0 0 1.5rem 1.5rem ;
        transition: .3s;
        
    }

    .nav-list{
        padding-left: 0 !important;
    }

    .show-menu {
        top: 0;
    }

    .navbar-items .nav-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        font-size: 15px;
    }

    .nav-toggle,
    .nav-close{
        display: block;
    }

    .nav-toggle{
        font-size: 24px;
    }

    .navbar-items .nav-list a {
        max-width: 100px;
        text-align: center;
    }
    .nav-close {
        position: absolute;
        right: 3rem;
        font-size: 24px;
    }

    .navbar-items a.active::after{
        display: none;
    }
    
    .nav-HIMSI,
    .nav-univ{
        display: none;
    }

    .nav-logo{
        width: 60px;
        padding-bottom: 0;
        padding-top: 0px;
    }

    .button-contact {
        position: absolute;
        right: 6.5rem;
        top: 6.5rem;
    }

    .profile-section-container {
        top: 34%;
        right: 24%;
        z-index: 2;
    }

    .expanded-arrow-active{
        transform: rotate(-45deg);
       
    }
}

@media screen and (max-width: 576px) {
    .list-profile li {
   
        padding: 3px 0;
    }
    .profile-section-container {
        top: 34%;
        right: 20%;
    }

    .list-profile li a {
        font-size: 10px;
    }
    html, body{
        overflow-x: hidden;
    }
    nav{
        width: 100%;
    }
    .navbar-items {
        width: 100%;
        padding: 3rem;
        padding-left: 4rem;
        
    }

    .nav-logo{
        width: 50px;
    }

    .nav-toggle{
        font-size: 20px;
    }

    .navbar-items .nav-list{
        gap: 2rem;
        font-size: 14px;
    }

    .button-contact{
        width: 90px;
        height: 35px;
        font-size: 12px;
        border-radius: 8px;
        right: 5rem;
    }
    .nav-close{
        font-size: 20px;
    }


}

@media screen and (max-width: 480px) {

    .profile-section-container {
        top: 34%;
        right: 17%;
    }
    nav {
        height: 70px;
    }

    .navbar-items {
        padding: 35px 15px ;
    }

    .nav-logo{
        width: 40px;
    }

    .nav-toggle{
        font-size: 15px;
    }

    .navbar-items .nav-list{
        gap: 2rem;
        font-size: 12px;
    }

    .button-contact{
        width: 80px;
        height: 30px;
        font-size: 12px;
        border-radius: 6px;
        right: 2.7rem;
        top: 5.3rem;
    }

    .nav-close{
        font-size: 16px;
        right: 2rem;
    }
}

@media screen and (max-width: 414px) {
    .profile-section-container {
        top: 34%;
        right: 9%;
    }

    .button-contact{
        right: 1.7rem;
        top: 5.3rem;
    }
}

@media screen and (max-width: 390px) {
    .profile-section-container {
        top: 34%;
        right: 8%;
    }
}

@media screen and (max-width: 393px) {
    .profile-section-container {
        top: 34%;
        right: 8%;
    }

    .button-contact{
        right: 1.3rem;
        top: 5.3rem;
    }
}

@media screen and (max-width: 375px) {
    .profile-section-container {
        top: 34%;
        right: 6%;
    }

}
@media screen and (max-width: 374px) {

    .list-profile li {
   
        padding: 1px 0;
    }
    .profile-section-container {
        top: 34%;
        right: 10%;
    }

    .list-profile li a {
        font-size: 8px;
    }

  .navbar-items {
    padding: 35px 20px ;
}



.button-contact {
    right: 1.5rem;
    top: 5.5rem;
}
}