.partner {
    text-align: center;
    margin-bottom: 150px !important;
}

.partner .header {
    margin-bottom: 60px !important;
}

.partner .slider {
    width: 100% !important;
    height: 230px !important;
}

.partner .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center !important;
    padding-bottom: 50px !important;

}

.partner .swiper-wrapper {
    align-items: center !important;
    margin: 0px !important;
}

.partner .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    max-height: 54px !important;
    max-width: 264px !important;
    overflow: hidden !important;
    width: auto !important;
    margin-top: 0 !important;
}

.partner .swiper-slide img {
    max-height: 54px !important;
}

.partner .swiper-pagination-bullet {
    height: 12px !important;
    width: 12px !important;
}

.partner .swiper-pagination-bullet-active {
    width: 5em !important;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    background-color: #F49C45 !important;
}

/* ----------- Responsive ------------- */
@media screen and (max-width: 1400px) {
    .partner .swiper-slide img {
        max-height: 48px !important;
    }
}

@media screen and (max-width: 992px) {
    .partner .slider {
        height: 180px !important;
    }

    .partner .swiper-slide img {
        max-height: 38px !important;
    }

    .partner .swiper-pagination-bullet {
        height: 10px !important;
        width: 10px !important;
    }

    .partner .swiper-pagination-bullet-active {
        width: 4em !important;
    }
}

@media screen and (max-width: 768px) {
    .partner .slider {
        height: 150px !important;
    }

    .partner .swiper-slide img {
        max-height: 38px !important;
    }
}

@media screen and (max-width: 576px) {
    .partner .swiper-pagination-bullet {
        height: 8px !important;
        width: 8px !important;
    }

    .partner .swiper-pagination-bullet-active {
        width: 3em !important;
    }

    /* .partner .swiper-slide {
        max-height: 44px !important;
        max-width: 204px !important;
    } */
}