.partner .carousel {
    cursor: grab;
    overflow: hidden;
    /* height: 261px; */
    /* background: aquamarine; */
}

.inner-carousel {
    display: flex;
    /* flex-wrap: wrap; */
    /* background-color: aqua; */
}

.partner .item {
    min-height: 53px;
    min-width: 264px;
    padding: 40px;
    /* background-color: aqua; */
    margin-bottom: 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    pointer-events: none;
}

.partner .item img {
    width: 100%;
    height: 100%;

}