.test {
    text-align: center;
}

.test .slider {
    width: 100% !important;
    height: 200px !important;
    margin-bottom: 50px;
}

.test .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center !important;
    padding-bottom: 30px !important;
}

.test .swiper-wrapper {
    align-items: center;
}

.test .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    max-height: 54px !important;
    max-width: 264px !important;
    overflow: hidden !important;
    width: auto !important;
    margin-top: 0 !important;
}

.test .swiper-slide img {
    max-height: 54px !important;
}

.swiper-pagination-bullet-active {
    width: 55px !important;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    background-color: #082240;
}