.test {
    text-align: center;
}

.test .slider {
    width: 100% !important;
    height: 200px !important;
    /* background-color: rgb(191, 193, 255) !important; */
    margin-bottom: 50px;
}

.test .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;*/
    align-items: center !important;
    padding-bottom: 30px !important;
    /* overflow: visible !important; */
}

.test .swiper-wrapper {
    align-items: center;
    /* margin-bottom: 50px !important; */
    /* padding-bottom: 50px !important; */

}

.test .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: rgb(221, 52, 52); */
    /* height: calc((100% - 30px) / 2) !important; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* width: 100px !important; */
    /* width: auto !important; */
    max-height: 54px !important;
    max-width: 264px !important;
    overflow: hidden !important;
    width: auto !important;
    margin-top: 0 !important;
}

.test .swiper-slide img {
    /* max-width: 264px !important; */
    max-height: 54px !important;
    /* object-fit: contain !important; */
}

.swiper-pagination-bullet-active {
    width: 55px !important;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    background-color: #082240;
}

/* .test .swiper-pagination {
    background-color: blue;
    position: static !important;
    height: 50px !important;
    top: 150px !important;
} */