@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

* {
  scroll-behavior: smooth;
}

.wrapper-all {
  height: auto;
  width: 100%;
}

.ctn {
  padding-top: 0px !important;
}

.counter-override {
  padding-top: 0px !important;
}

.search-bar {
  padding-top: 150px;
  width: 1240px;
  margin: auto;
  max-width: 100%;
}

.category-wrapper {
  width: 1105px;
  max-width: 89.1129032258%;
  height: 56px;
  padding: 8px 70px;
  border-radius: 40px 0 0 40px;
  font-family: "Montserrat", sans-serif;
  border-width: 1px 0 1px 1px;
  outline: none;
  border-color: #f49c45;
  border-style: solid;
  background-image: url("../../assets/img/Magnifer.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-x: 30px;
  background-position-y: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
}

.display-bubble {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  gap: 8px;
}

.checked {
  padding: 7px;
  background-color: #f49c45;
  border-radius: 8px;
  color: #fff;

}

.clear {
  clear: right;
}

.judul h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 62px;
}

input[type="submit"] {
  width: 135px;
  position: absolute;
  top: 17.2%;
  right: 22.5%;
  max-width: 9.7870967742%;
  height: 56px;
  padding: 8px 25px;
  border-width: 1px 1px 1px 0;
  outline: none;
  border-radius: 0 40px 40px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  border-color: #f49c45;
  border-style: solid;
  cursor: pointer;
  background-color: #f49c45;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.blank-space {
  height: 70px;
}

.menu-button {
  background-color: #f49c45;
  border-radius: 50px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  border: #f49c45;
}

.menu-icon-kategori {
  width: 17.5px;
  height: 21.5px;
  top: 1.25px;
  left: 3.25px;
  color: #fff;
}

.category-container {
  padding: 20px;
  background-color: #fff;
  width: 320px;
  height: fit-content;
  box-shadow: 0px 4px 30px rgba(0, 2, 103, 0.15);
  border-radius: 8px;
  position: absolute;
  z-index: 3;
  right: 7.5%;
  top: 33%;

}

.wrapper-list {
  display: flex;
  padding: 0 !important;
  margin: 15px 0;
}

.wrapper-list input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #828282;
  border-radius: 2px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.wrapper-list input[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 15px;
  color: #fff;
  background-color: #f49c45;
  display: none;
}

.wrapper-list input[type="checkbox"]:checked {
  background-color: #f49c45;
  border: none;
}

.wrapper-list input[type="checkbox"]:checked::after {
  display: block;
}

.wrapper-list label {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #4f4f4f;
  font-style: normal;
}

.del-category-icon {
  cursor: pointer;
}

/* Azzam Nambahin */
.article-header {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 85vh;
  background-image: linear-gradient(180deg, #082240 17.63%, rgba(8, 34, 64, 0.31) 83.66%, rgba(8, 34, 64, 0) 98.51%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5%;
  gap: 5px;
}

.article-header-title {
  color: var(--white);
  font-weight: bold;
  font-size: 4em !important;
  padding-top: 70px !important;
}

.filter-category {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 150px;
}

.search-bar-viewpoint {
  border-radius: 25px;
  border: 2px solid var(--primaryColor2);
  background-color: white;
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  padding: 0 20px 0 20px;
  border-right: none;
  width: fit-content;
  gap: 8px;
}

.category-display {
  display: flex;
  align-content: stretch;
  overflow: hidden;
  width: 100%;
  flex-wrap: wrap;
}

.search-bar-input {
  flex: 1;
  border: none;
  min-height: 50px;
}

.search-bar-input:focus {
  outline: none;
}

.search-bar-button {
  border: none;
  background-color: var(--primaryColor2);
  padding: 0 30px;
  min-height: 50px;
  color: var(--white);
  font-family: var(--textReguler);
  font-weight: bold;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid var(--primaryColor2);
  transition: .3s;
}

.search-bar-button:hover {
  background-color: rgb(214, 130, 45) !important;
  border-color: rgb(214, 130, 45) !important;
}

.filter-button {
  min-height: 50px;
  min-width: 55px;
  background-color: var(--primaryColor2);
  border-radius: 100%;
  border: none;
  transition: .3s;
}

.filter-button:hover {
  background-color: rgb(214, 130, 45) !important;
}

.selected-category {
  background-color: var(--primaryColor2);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 4px;
}

.article-list {
  padding-top: 600px;
  gap: 30px;
}

.not-found-container {
  width: 100%;
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.article-not-found {
  width: 591px;
  height: 54px;
  background-color: #fff;
  border: 3px solid #F49C45;
  border-radius: 40px;
  z-index: 2;

}

.article-not-found p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding-top: 7px;
}

/* Responshitt */
@media screen and (max-width: 1200px) {

  .filter-category {
    margin-top: 200px !important;
  }

  .article-header-title {
    font-size: 3em !important;
    padding-top: 0px !important;
    margin-top: 50px !important;
  }

  .category-container {
    top: 33%;
    right: 9%;
  }

  .article-list {
    padding-top: 500px;
  }
}

@media screen and (max-width: 992px) {

  .search-bar-viewpoint {
    width: 80%;
    align-items: center;
    position: relative;
    margin-left: 100px;
  }

  .category-container {
    top: 31%;
    width: 250px;
  }

  .selected-category {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
  }

  .search-bar-input {
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {

  .menu-icon-kategori {
    width: 13.5px;
    height: 17.5px;
  }

  .search-bar-viewpoint {
    width: 77%;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 100px;
    height: 40px !important;
  }

  .category-display {
    height: 36px;
  }

  .image-search {
    width: 18px;
    height: 18px;
  }

  .del-category-icon {
    width: 12px;
    height: 12px;
  }

  .search-bar-input {
    overflow: hidden;
    min-height: 36px;
    font-size: 10px;
  }

  .search-bar-display {
    height: 36px;
  }

  .selected-category {
    padding: 3px 3px;
    border-radius: 4px;
    font-size: 9px;
  }

  .search-bar-button {
    font-size: 12px;
    min-height: 36px;
  }

  .filter-button {
    margin-left: 5px;
    min-height: 36px;
    min-width: 41px;
  }

  .category-container {
    height: 500px;
    width: 250px;
    overflow: scroll;
    top: 33%;
  }

  .wrapper-list form input[type="checkbox"] {

    width: 13px;
    height: 13px;

  }

  .wrapper-list input[type="checkbox"]:after {
    width: 15px;
    height: 0px;
  }

  .wrapper-list form label {
    font-size: 15px;
    font-weight: 400;
    line-height: 10px;
  }

  .article-header-title {
    font-size: 2em !important;

  }

  .article-list {
    padding-top: 430px;
  }
}

@media screen and (max-height: 768px) {
  .category-container {
    position: absolute;
    top: 43%;
    width: 270px;
    right: 7.5%;
  }

  .article-header-title {
    padding-top: 50px;
    font-size: 45px;
  }


}

@media screen and (max-width: 576px) {
  .search-bar-viewpoint {
    margin-left: 80px;
  }

  .menu-icon-kategori {
    width: 12.5px;
    height: 12.5px;
  }

  .category-container {
    height: 300px;
    width: 200px;
    top: 31.5%;
    right: 10%;
  }

  .wrapper-list form input[type="checkbox"] {

    width: 13px;
    height: 13px;

  }

  .category-container h5 {
    font-size: 16px;
  }

  .wrapper-list input[type="checkbox"]:after {
    width: 15px;
    height: 0px;
  }

  .wrapper-list form label {
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
  }

  .wrapper-list {
    margin: 2px 0;
  }

  .search-bar-button {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
  }

  .selected-category {
    padding: 4px 2px;
    border-radius: 3px;
    font-size: 6px;
  }

  .del-category-icon {
    width: 6px;
    height: 6px;
  }
}

@media screen and (max-width: 480px) {

  .category-container {
    top: 30%;
    right: 9%;
  }

  .menu-icon-kategori {
    width: 9px;
    height: 9px;
  }

  .filter-category {
    margin-left: 20px;
  }

  .search-bar-viewpoint {
    width: 100%;
    margin-left: 20px;
    height: 30px !important;
  }

  .article-header-title {
    font-size: 24px !important;
  }

  .search-bar-button {
    width: 30px;
    min-height: 26px;

  }

  .category-display {
    height: 26px;
  }

  .image-search {
    width: 14px;
    height: 14px;
  }

  .del-category-icon {
    width: 12px;
    height: 12px;
  }

  .search-bar-input {
    overflow: hidden;
    min-height: 26px;
    font-size: 8px;
  }

  .search-bar-display {
    height: 26px;
  }

  .selected-category {
    padding: 2px 2px;
    border-radius: 3px;
    font-size: 6px;
  }

  .del-category-icon {
    width: 6px;
    height: 6px;
  }

  .filter-button {
    margin-left: 5px;
    min-height: 30px;
    min-width: 35px;
  }
}


@media screen and (max-width: 374px) {
  .article-list {
    padding-top: 350px;
  }

  .category-container {
    height: 230px;
    top: 29%;
  }
}