.home h3,
.home h4 {
    font-family: 'Montserrat', sans-serif !important;
}

.home .container {
    padding-top: 0px !important;
}

h3 {
    color: rgba(0, 2, 103, 1) !important;
    font-weight: 600 !important;
}

h4 {
    color: rgba(8, 34, 64, 1) !important;
    font-weight: 700 !important;
    font-size: 49px !important;
}

/* -----------header--------------- */
.home .header {
    margin-top: 69px !important;
    margin-bottom: 40px !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center !important;
}

.home .header .title {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 61px !important;
}

.home .btn-header {
    font-size: 18px !important;
    font-weight: 700 !important;
}

/* -------------- Event Slider ---------------- */

/* ----------------- Lastest Event ----------------- */

/* --------------Responsive---------------- */
@media screen and (max-width: 1400px) {
    .home .header .title {
        font-size: 50px !important;
    }
}

@media screen and (max-width: 1200px) {
    .home .header .title {
        font-size: 42px !important;
    }

    .home .btn-header {
        font-size: 20px !important;
        width: 150px !important;
    }

    .home .btn-header {
        font-size: 20px !important;
        width: 140px !important;
        height: 50px !important;
    }
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
    .home .header {
        margin-top: 69px !important;
    }

    .home .header .title,
    .home .partner .judul,
    .home .social-media .judul {
        font-size: 36px !important;
    }

    .home .btn-header {
        font-size: 16px !important;
        width: 120px !important;
        height: 40px !important;
    }

}

@media screen and (max-width: 576px) {
    .home .header {
        margin-top: 69px !important;
        display: flex !important;
        flex-direction: column !important;
    }

    .home .header .title {
        font-size: 36px !important;
        margin-bottom: 25px !important;

    }


}