.layanan-mahasiswa .blank-space {
    margin-bottom: 50px !important;
}

.layanan-mahasiswa {
    font-family: 'Montserrat', sans-serif !important;
}

.layanan-mahasiswa .container {
    margin-top: 0px !important;
    padding-top: 0px !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px !important;
    align-items: center !important;
}

.layanan-mahasiswa .content-section {
    margin-bottom: 24px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px rgba(0, 2, 103, 0.15);
    margin: 0 30px;
    width: 60% !important;
    border-radius: 40px !important;
    -webkit-border-radius: 40px !important;
    -moz-border-radius: 40px !important;
    -ms-border-radius: 40px !important;
    -o-border-radius: 40px !important;
}

.layanan-mahasiswa .section-header-container {
    background-color: #092C4C;
    display: flex;
    color: #FFF;
    align-items: center;
    justify-content: space-between;
    padding: 10px 22px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.layanan-mahasiswa .section-header {
    font-size: 24px !important;
    color: #FFF !important;
    font-weight: 600;
    margin: 20px 0 20px 30px;
    width: 100% !important;
}

.layanan-mahasiswa .section-body {
    padding: 20px 24px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    padding-right: 50px !important;
}

.layanan-mahasiswa .section-body .dot {
    margin: 10px 30px 0 10px;
}

table,
th,
td {
    border-collapse: collapse;
    font-size: 1.1em !important;
}

.layanan-mahasiswa .section-body a {
    color: #082240 !important;
    font-size: 16px;
    font-weight: 400 !important;
}

.layanan-mahasiswa .section-body table {
    width: 100%;
    margin-left: 30px;
    margin-bottom: 30px;
}

.layanan-mahasiswa .section-body table td {
    border-bottom: 1px solid #082240 !important;
    width: 100%;
    padding: 5px 10px !important;
    align-items: center;
}

.layanan-mahasiswa tr td:nth-child(1) {
    width: 30px;
    text-align: left !important;
}

.layanan-mahasiswa .dot {
    display: flex;
    margin: 0 !important;
    height: 4px;
    width: 4px;
}

/*-------------------- Accordion / FaQ ---------------------- */
.layanan-mahasiswa .accordion {
    margin: 0 20px 0 50px !important;
    padding: 20px 30px 50px 0;
}

.layanan-mahasiswa .accordion-button {
    font-size: 16px;
    color: var(--primaryColor) !important;
    font-weight: 700;
    padding: 10px 20px 10px 5px !important;
    background-color: white !important;
    border: none !important;

}

.layanan-mahasiswa .accordion-button::after {
    display: none;
}

.layanan-mahasiswa .accordion-button::before {
    content: "";
    background-image: url(../../assets/img/minus.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 14px;
    min-height: 14px;
    margin-right: 16px;
}

.layanan-mahasiswa .accordion-button.collapsed {
    border-bottom: 1px solid var(--primaryColor) !important;
    font-weight: 400 !important;

}

.layanan-mahasiswa .accordion-button.collapsed::before {
    content: "";
    display: inline !important;
    background-image: url(../../assets/img/plus.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 14px;
    min-height: 14px;
    margin-right: 16px;
    transition: var(--bs-accordion-btn-icon-transition);
}

.layanan-mahasiswa .accordion-item {
    border: none;
}

.layanan-mahasiswa .accordion-body {
    font-size: 14px;
    color: var(--grey3) !important;
    padding: 10px 20px 10px 40px !important;
    border-bottom: 1px solid var(--primaryColor) !important;
    overflow-x: hidden !important;
}

.accordion-button:focus {
    border: none !important;
}

/* ------------------- Responsive ------------------- */
@media screen and (max-width: 1400px) {
    .layanan-mahasiswa .content-section {
        width: 70% !important;
    }
}

@media screen and (max-width: 1200px) {
    .layanan-mahasiswa .content-section {
        width: 70% !important;
    }

    .layanan-mahasiswa .section-header {
        font-size: 22px !important;
    }

    .layanan-mahasiswa .accordion-body {
        font-size: 14px;
    }

    .layanan-mahasiswa .section-header,
    .layanan-mahasiswa .section-body table {
        margin-left: 30px;
    }

    .layanan-mahasiswa .section-body,
    .layanan-mahasiswa .accordion {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .layanan-mahasiswa .accordion {
        margin: 0 20px 0 50px !important;
    }
}

@media screen and (max-width: 992px) {
    .layanan-mahasiswa .content-section {
        width: 80% !important;
    }

    .layanan-mahasiswa .section-header {
        font-size: 18px !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .layanan-mahasiswa .section-body a,
    .layanan-mahasiswa .accordion-button {
        font-size: 14px !important;
    }

    .layanan-mahasiswa .accordion-body {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .layanan-mahasiswa .content-section {
        width: 90% !important;
    }

    .layanan-mahasiswa .section-header {
        font-size: 16px !important;
    }

    .layanan-mahasiswa .section-body a,
    .layanan-mahasiswa .accordion-button {
        font-size: 12px !important;
    }

    .layanan-mahasiswa .accordion-body {
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {

    table,
    th,
    td {
        font-size: 1em !important;
    }

    .layanan-mahasiswa .section-header {
        font-size: 16px !important;
        margin-left: 15px;
    }

    .layanan-mahasiswa .section-body a,
    .layanan-mahasiswa .accordion-button {
        font-size: 12px !important;
    }

    .layanan-mahasiswa .accordion-body,
    .layanan-mahasiswa .section-body table {
        margin-left: 10px;
    }

    .layanan-mahasiswa .section-body {
        padding-right: 40px !important;
    }

    .layanan-mahasiswa .accordion {
        margin: 0 20px 0 35px !important;
        padding-right: 10px;
    }

    .layanan-mahasiswa .accordion-button::before,
    .layanan-mahasiswa .accordion-button.collapsed::before {
        min-width: 15px;
        min-height: 15px;
    }

    .layanan-mahasiswa .accordion-body {
        font-size: 10px;
        padding-left: 25px !important;
    }
}