/* ---------------------- FONT ------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Mulish:wght@500&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');


.container {
    padding-top:80px;
}

.dot {
    height: 8px;
    width: 8px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #082240;
    border-radius: 50%;
    display: inline-block;
}

/* ---------------------- HEADING HIMPUNAN ------------------------------------ */

.heading {
    text-align: center;
    margin-top: 90px;
    font-size: 30px;
}


.himsi {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 56px;
    color: #000267;
}

.namauniv {
    padding-top: 20px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 40px;
}

.profile-logo {
    justify-content: center;
    width: 45%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* ---------------------- VISI ----------------------- */

.visi {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.visi-judul {
    color: #082240;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 35px;
}

.visi-p {
    font-size: 24px;
    font-family: "Mulish";
    font-weight: 400;
    text-align: center;
    padding-bottom: 0;
    line-height: 40px;
}

/* ------------------- MISI ----------------------------- */

.misi {
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
}

.misi-judul {
    color: #082240;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 25px;
}

.misi-paragraf {
    flex: 1;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 25px;
    font-family: 'Mulish', sans-serif;
    letter-spacing: normal;
}

.flex-container {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
    border-radius: 100px;
    box-shadow: 0px 4px 30px rgba(0, 2, 103, 0.15);
    margin-bottom: 30px;
}

.misi-number {
    background: linear-gradient(136.63deg, #F49C45 15.49%, #FFBC7B 83.85%);
    color: #FFFFFF;
    padding: 35px;
    display: flex;
    font-size: 31px;
    font-weight: 700;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

/* ----------------------------- BIDANG DAN DIVISI --------------------------*/

.bidang {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;
}

.bidang-judul {
    color: #082240;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
}

/*-------------------------------- STRUKTUR ORGANISASI ------------------------- */

.struktur {
    justify-content: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 100px;
}

.struktur-judul {
    font-size: 40px;
    color: #082240;
    font-family: "Montserrat";
    font-weight: 600;
}

.struktur-logo {
    justify-content: center;
    align-content: center;
    padding-top: 25px;
    padding-bottom: 80px;
    width: 100%;
    height: auto;
    margin: auto;
}

.cta-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-pengurus {
    background: #F49C45;
    padding: 15px 80px;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 700;
    box-shadow: 0px 4px 30px rgba(0, 2, 103, 0.15);
}


/*-------------------------------- RESPONSIVE ------------------------- */
@media screen and (max-width: 1400px) {
    .himsi {
        font-size: 27px;
    }

    .namauniv {
        font-size: 20px;
    }

    .profile-logo {
        width: 60%;
        height: auto;
    }

    .visi-judul {
        font-size: 30px;
    }

    .visi-p {
        font-size: 15px;
        line-height: normal;
    }

    .misi-judul {
        font-size: 30px;
    }

    .misi-paragraf {
        display: flex;
        font-size: 15px;
        padding-left: 5px;
    }

    .misi-number {
        padding: 15px;
        font-size: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }

    .bidang-judul {
        font-size: 20px;
    }

    .struktur-judul {
        font-size: 22px;
    }

    .struktur-logo {
        width: 100%;
        height: auto;
    }

    .btn-pengurus {
        padding: 10px 20px;
        font-size: 15px;
    }

}
@media screen and (max-width: 360px) {
    .container {
        padding-top: 5px;
        
    }
}