/* -----GRADIENT----- */
.gradient {
  position: absolute;
  width: 100%;
  height: 595px;

  background: linear-gradient(180deg,
      #082240 17.63%,
      rgba(8, 34, 64, 0.31) 83.66%,
      rgba(8, 34, 64, 0) 98.51%);
}

.judul {
  margin: 0;
}

.eventList .row {
  width: 1240px;
  max-width: 100%;
  max-height: 10%;
  margin: auto;
  margin-bottom: 20px;
}

/* -----SEARCH BAR----- */
.search-bar {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 150px;
  max-width: 100%;
  margin: auto;
}

.search-bar input[type="text"] {
  width: 1025px;
  /* max-width: 100%; */
  position: absolute;
  height: 56px;
  padding: 7px 80px;
  border-radius: 40px 0 0 40px;
  font-family: "Montserrat", sans-serif;
  border-width: 1px 0 1px 1px;
  outline: none;
  border-color: #f49c45;
  border-style: solid;
  background-image: url("../../assets/img/Magnifer.png");
  background-position: 39px center;
  background-repeat: no-repeat;
  background-size: 25px;
}

.search-bar input[type="submit"] {
  position: absolute !important;
  /* max-width: 100%; */
  top: 73%;
  left: 82.7% !important;
  width: 135px !important;
  height: 56px !important;
  padding: 7px 25px !important;
  border-width: 1px 1px 1px 0 !important;
  outline: none !important;
  border-radius: 0 40px 40px 0 !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: 15px !important;
  border-color: #f49c45 !important;
  border-style: solid !important;
  cursor: pointer !important;
  background-color: #f49c45;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

/* -----FILTER FEATURE----- */

/* -----FILTER-BUTTON----- */
.filter-box {
  box-shadow: 0px 4px 30px rgba(0, 2, 103, 0.15);
  position: absolute;
  z-index: 10;
  left: 70%;
  width: 320px;
  border-radius: 8px;
  max-width: 100%;
  margin-left: auto !important;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff !important;
  font-family: "Montserrat", sans-serif !important;
  line-height: 22px !important;
}

.filter-img {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
}

.filter-box-kategori,
.filter-box-bidang {
  font-weight: 600 !important;
  font-size: 16px !important;
}

.filter-container {
  background-color: #fff;
  width: 320px;
  height: 833px;
  box-shadow: 0px 4px 30px rgba(0, 2, 103, 0.15);
  border-radius: 8px;
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  right: 9%;
}

.checkbox-value {
  position: absolute;
  top: 81%;
  left: 6.5%;
  z-index: 1;
}

.option {
  background-color: #fff;
}

/* Hide the browser's default checkbox */
.filter-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* When the checkbox is checked, add a blue background */
.filter-box .container input:checked~.checkmark {
  background-color: #f49c45;
  border-width: 0;
}

/* Show the checkmark when checked */
.filter-box .container input:checked~.checkmark:after {
  display: block;
}

.checked {
  padding: 7px;
  margin-right: 0.5rem;
  background-color: #f49c45;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.wrapper-list {
  display: flex;
  padding: 14px 32px;
}

.wrapper-list input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #828282;
  border-radius: 2px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  vertical-align: middle;
}

.wrapper-list input[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 15px;
  color: #fff;
  background-color: #f49c45;
  display: none;
  cursor: pointer;
}

.wrapper-list input[type="checkbox"]:checked {
  background-color: #f49c45;
  border: none;
}

.wrapper-list input[type="checkbox"]:checked::after {
  display: block;
}

.wrapper-list label {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #4f4f4f;
  font-style: normal;
}

.filter-kategori,
.filter-bidang {
  font-size: 1rem;
  font-weight: 600;
  font-family: "montserrat", sans-serif;
  padding: 14px 32px;
  margin: 0;
}

/* -----JUDUL (EVENT)----- */
.judul {
  margin: 0;
}

/* -----EVENT LIST----- */
.eventList .row {
  width: 1240px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.judul h1 {
  position: relative;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 62px;
}

.tags:nth-child(2) {
  background: linear-gradient(180deg, #b03a77 0%, rgba(176, 58, 119, 0.3) 100%);
}

.tags:nth-child(3) {
  background: linear-gradient(180deg, #3d8968 0%, rgba(61, 137, 104, 0.3) 100%);
}

.tags:nth-child(4) {
  background: linear-gradient(180deg, #cb3f4a 0%, rgba(203, 63, 74, 0.3) 100%);
}

.tags:nth-child(5) {
  background: linear-gradient(180deg, #436392 0%, rgba(67, 99, 146, 0.3) 100%);
}

.blank-space {
  height: 70px;
}

/* -----CLEAR CSS----- */
.clear {
  clear: right;
}

/* -----PAGINATION----- */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.page-item {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255) !important;
  border: none;
  color: rgb(0, 0, 0);
  padding: 0.2rem !important;
  border-radius: 100% !important;
  margin: 0.2rem;
}

.active .page-link {
  background-color: #f49c45 !important;
  color: white !important;
  border-width: 0 !important;
  width: 48px !important;
  height: 48px !important;
}

.page-link {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  background-color: none !important;
  border: rgba(189, 189, 189, 1) 1px solid !important;
  border-radius: 100% !important;
  color: rgba(189, 189, 189, 1) !important;
  width: 32px !important;
  height: 32px !important;
}

/* -----RESPONSIVE----- */

@media screen and (max-width: 1200px) {
  .filter-category {
    margin-top: 2rem;
    margin-right: 1.9rem;
  }

  input[type="text"] {
    width: 63%;
    max-width: 80%;
  }

  input[type="submit"] {
    margin-right: 2rem;
    max-width: 80%;
  }

  .article-header-title {
    margin-top: 15%;
  }

  .eventList {
    width: 100%;
  }

  .eventList .row {
    margin-bottom: 30px;
    max-height: 20%;
  }

  .article-list .row {
    margin: auto;
    max-height: 20%;
  }

  .eventItem img {
    max-width: 50%;
  }

  .clear {
    clear: right;
  }

  .eventItem {
    max-height: 100rem;
  }

  .eventItem .content {
    max-width: 50%;
    padding: 10px 25px;
  }

  .eventItem .judul {
    font-size: 1.5rem;
  }

  .eventItem .content .deskripsi {
    font-size: 0.7rem;
    overflow: scroll;
    margin: 0;
  }

  .eventItem .content .date {
    font-size: 1.4rem;
  }

  .eventItem .content .tags {
    font-size: 0.8rem;
  }

  .eventItem button {
    width: 8.5rem;
    height: 2rem;
    font-size: 0.8rem;
  }
}