* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    color: white !important;
}

ul {
    margin-bottom: 0 !important;
}

main {
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.btn {
    font-family: 'Inter', sans-serif !important;
    height: 55px;
    width: 154px;
    background: #F49C45 !important;
    border: none !important;
    border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -o-border-radius: 12px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}