@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primaryColor: #082240;
    --primaryColor2: #f49c45;
    --secondaryColor: #0A3F45;
    --secondaryColor2: #FCE58D;
    --stateColorInfo: #2F80ED;
    --stateColorSuccess: #27AE60;
    --stateColorWarning: #E2B93B;
    --stateColorError: #EB5757;
    --black: #000000;
    --black2: #1D1D1D;
    --black3: #282828;
    --white: #FFF;
    --gray: #333333;
    --gray2: #4F4F4F;
    --gray3: #828282;
    --gray4: #BDBDBD;
    --gray5: #E0E0E0;

    --black20: rgba(255, 255, 255, 0.2);

    --textHeader: 'Montserrat', sans-serif;
    --textReguler: 'Mulish', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    color: white !important;
}

ul {
    margin-bottom: 0 !important;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.btn {
    font-family: 'Inter', sans-serif !important;
    height: 55px;
    width: 154px;
    background: #F49C45 !important;
    border: none !important;
    border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -o-border-radius: 12px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}