* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

main {
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}